*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 55%;
    border: 1px solid #dadce0;
    border-radius: 5px;
    height: 100%;
    margin: 20px 20px;
    display: flex;

}
.form{
    width: 50%;
    padding: 30px 30px;
}
img{
    height: 30px;
}
h2,h4{
    padding: 5px 0px;
    font-weight:400    
}
.name{
    padding: 10px 0px 20px 0px;
}
div .side{
    height: 250px;
    display: block;
    margin: 50px 0px 0px 10px;
}
.password{
    margin-top: 10px;
}
p{
    font-size: 10px;
    color: #7f8286;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}
input{
    height: 30px;
    border-radius: 3px;
    border: 1px solid #dadce0;
    padding-left: 20px;

}
.mail>input{
    width: 312px;
}
span{
    font-size: 13px;
    padding-left: 15px;
    
}
button{
    width: 80px;
    height: 30px;
    color: white;
    background-color: #1a73e8;
    border-radius: 6px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: #1a73e8;
}

